.about {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 15px;
  visibility: hidden;
  opacity: 0;
  animation: show-content 1.5s linear forwards;
  animation-delay: 1.2s;
  flex-wrap: wrap;
}

@keyframes show-content {
  100% {
    visibility: visible;
    opacity: 1;
  }
}

.about-img {
  background: slateblue;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 50px;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  overflow: hidden;
}

.about-img img {
  width: 180px;
  height: 100%;
  /* object-fit: cover; */
  
}

.about-details {
  max-width: 600px;
  padding: 15px;
}

.about-details h1 {
  font-size: 32px;
  margin-bottom: 10px;
}

.about-details p {
  font-size: 16px;
  line-height: 1.6;
  text-align: justify;
  margin-top: 15px;
}

.about .about-details span {
  color: #7cf03d;
}

.designation {
  display: inline-block;
  font-weight: 600;
  font-size: 25px;
  animation: display-text 16s linear infinite;
  animation-delay: calc(-4s * var(--i));
}

@keyframes display-text {
  25%, 100% {
    display: none;
  }
}

.about-details div {
  margin-top: 30px;
}

.about-details div a {
  background: #7cf03d;
  padding: 10px 18px;
  border-radius: 20px;
  box-shadow: #7cf03d 0px 0px 10px;
  font-weight: 600;
  color: rgb(22, 31, 39);
  border: 2px solid transparent;
  transition: 0.5s;
}

.about-details div a:hover {
  border-color: #7cf03d;
  background: transparent;
  box-shadow: none;
  color: #7cf03d;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .about {
    flex-direction: column;
    padding: 40px 20px;
  }

  .about-img {
    margin: 0 0 30px 0;
    height: 180px;
    width: 180px;
    margin-bottom: -20px;
  }

  .about-img img {
    width: 100%;
    height: 100%;
    margin-bottom: -20px;
  }

  .about-details .about-text{
    display: flex;
    flex-direction: column;
    padding: 0;
    max-width: 100%;
  }

  .about-details h1 {
    font-size: 26px;
    /* text-align: center; */
  }

  .designation {
    font-size: 20px;
    display: block;
    margin: 8px 0;
  }

  .about-details p {
    font-size: 15px;
    line-height: 1.6;
    padding: 0 10px;
  }

  .about-details div {
    display: flex;
    justify-content: center;
  }

  .about-details div a {
    font-size: 14px;
  }
}
